@import '/src/global-styles/style.scss';

.blogContainer {
  @include flex(flex-start, flex-start, column);
  width: 40%;
  margin-left: 24px;

  .blogHeading {
    @include flex(space-between, center, row);
    width: 100%;
    .premiumHeader {
      margin-left: 24px;
    }
    .blogButton {
      @include flex(flex-start, center, row);
      font-size: 14px;
      font-weight: 700;
      line-height: 14px;
      letter-spacing: -0.02em;
      padding: 4px;
      gap: 10px;
      margin-right: -5px;
      &:hover {
        background-color: var(--color-primary-athensGray2);
      }
    }
  }
  .blogList {
    @include flex(flex-start, flex-start, column);
    gap: 6px;
    width: 80%;
  }

  @media (max-width: 1200px) {
    width: calc(100% - 48px);
    margin: 0;
    padding: 0 24px;
    border-top: 1px solid var(--color-primary-athensGray1);
    .blogList {
      width: 100%;
      gap: 0;
    }
    .header {
      margin: 32px 0;
      font-size: 14px;
      font-weight: 700;
      line-height: 14px;
      letter-spacing: 0.06em;
    }
  }
  @media (max-width: 500px) {
    .blogList {
      gap: 0;
    }
  }
}
