@keyframes tabOpacity {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes menuTransform {
  from {
    opacity: 0;
    transform: translateX(100px);
    display: flex;
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes tabsTransform {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
