:root {
  // colors
  --color-primary-white: #ffffff;
  --color-primary-athensGray1: #ecedf1;
  --color-primary-athensGray2: #e9ebf0;
  --color-primary-salego: #f1f0fd;
  --color-primary-lightPink: #fdf2f7;
  --color-primary-lightPink2: #fdddec;
  --color-accent-darkGray: #2a2d34;
  --color-accent-purple: #796bea;
  --color-accent-pink: #e77dae;
  --color-accent-lighyGray: #656a74;

  // buttons
  --color-button-primary-hover: #9487f8;
  --color-button-primary-active: #6557d8;
  --color-button-secondary-hover: #f4f5f8;
  --color-button-secondary-active: #dee1ea;

  // cards

  // cards-product
  --color-card-tasks: #eef8f3;
  --color-card-docs: #e5f2fa;
  --color-card-goals: #fdf2f7;
  --color-card-whiteboards: #e9ecfe;
  --color-card-dashboards: #f1f0fd;
  --color-card-chat: #faf6e7;

  //cards-platform
  --color-card-templates: #f8e3e2;
  --color-card-clickapps: #f1f0fd;
  --color-card-integrations: #eee0f9;
  --color-card-views: #e5f9ef;
  --color-card-hierarchy: #f4ece3;
  --color-card-automations: #f9ead3;

  //cards-team
  --color-card-team: #fdf2f7;

  //cards-use-case
  --color-card-useCase: #e5f2fa;

  //cards-type
  --color-card-type: #f1f0fd;

  //cards-learn
  --color-card-gettingStarted: #f1f0fd;
  --color-card-clickupUniversity: #fdf2f7;
  --color-card-demos: #e5f2fa;
  --color-card-import: #eef8f3;
  --color-card-customers: #f9ead3;
  --color-card-helpDocs: #faf6e7;

  //blog
  --color-blog-placeholder: #f2e0e0;
  --color-blog-services: #f8e3e2;
  --color-blog-consultants: #eee0f9;
}
