:root {
  // colors
  --color-primary-white: #ffffff;
  --color-primary-athensGray1: #ecedf1;
  --color-primary-athensGray2: #e9ebf0;
  --color-primary-salego: #f1f0fd;
  --color-primary-lightPink: #fdf2f7;
  --color-accent-darkGray: #2a2d34;
  --color-accent-purple: #796bea;
  --color-accent-pink: #e77dae;
}
