@import '/src/global-styles/style.scss';

.blogCard {
  @include flex(flex-start, center, row);
  gap: 16px;
  .cover {
    width: 93px;
    height: 61px;
    border-radius: 8px;
  }
  .content {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin: 0;
  }

  &:hover {
    .content {
      color: var(--color-accent-purple);
    }
  }

  @media (max-width: 1050px) {
    border-top: 1px solid var(--color-primary-athensGray1);
    padding: 15px 0;
    width: 100%;
    .content {
      width: 50%;
    }
  }
}
