@import '/src/global-styles/style.scss';
@import './CardVariants.module.scss';

.card {
  @include flex(flex-start, flex-start, row);
  height: 56px;
  gap: 10px;
  border-radius: 12px;
  margin: 0;
  padding: 14px;
  transition: 0.3s ease;
  .title {
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
  }
  .description {
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
  }
  .title,
  .description {
    margin: 0;
  }
  .content {
    @include flex(flex-start, flex-start, column);
    gap: 8px;
  }

  @media (max-width: 1200px) {
    @include flex(flex-start, center, row);
    padding: 0;
    height: 72px;
    .title {
      font-size: 16px;
      font-weight: 700;
      line-height: 16px;
    }
    .description {
      display: none;
    }
  }
}
