@import 'styles/normalize.scss';
@import 'styles/root.scss';
@import 'styles/fonts.scss';
@import 'styles/mixins.scss';

body {
  background-color: gray;
}

a {
  text-decoration: none;
  color: var(--sec);
}

* {
  font-family: Raleway, sans-serif;
}
