@import 'styles/normalize.scss';
@import 'styles/root.scss';
@import 'styles/fonts.scss';
@import 'styles/mixins.scss';

* {
  font-family: Raleway, sans-serif;
}

body {
  background-color: gray;
}

a {
  text-decoration: none;
  color: var(--sec);
}

h1,
h2,
h3 {
  color: var(--color-accent-darkGray);
}

p {
  color: var(--color-accent-lighyGray);
}
