@import '/src/global-styles/style.scss';

.learnMenu {
  height: 100%;
  .navigationButton {
    height: 100%;
    .navItem {
      display: flex;
      position: relative;
      gap: 5px;
      height: 100%;
      &:hover,
      &.active {
        &::after {
          position: absolute;
          content: ' ';
          width: 100%;
          border: 1px solid var(--color-accent-purple);
          bottom: 0;
        }
      }
      .activeIcon {
        transform: rotate(180deg);
      }
    }
  }

  .menuContainer {
    position: absolute;
    background-color: var(--color-primary-white);
    top: 80px;
    left: 0;
    width: 100%;
    height: 405px;
  }
  .menuWrapper {
    @include flex(flex-start, flex-start, row);

    width: 77.7%;
    margin: auto;
  }

  .header {
    margin: 32px 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.06em;
  }
  .learnContainer {
    @include flex(flex-start, flex-start, column);
    border-right: 1px solid var(--color-primary-athensGray1);
    width: 56%;
    padding-right: 23px;
    .freeContainer {
      width: 100%;
      .freeList {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: -14px 0 0 -14px;
        gap: 4px 15px;
      }
    }

    .premiumContainer {
      width: 100%;
      .premiumHeader {
        margin-top: 18px;
      }
      .premiumList {
        display: grid;
        grid-template-columns: auto auto;
        margin: -14px 0 0 -14px;
      }
    }
  }

  .blogContainer {
    @include flex(flex-start, flex-start, column);
    width: 40%;
    margin-left: 24px;
    .blogHeading {
      @include flex(space-between, center, row);
      width: 100%;
      .premiumHeader {
        margin-left: 24px;
      }
      .blogButton {
        @include flex(flex-start, center, row);
        font-size: 14px;
        font-weight: 700;
        line-height: 14px;
        letter-spacing: -0.02em;
        padding: 4px;
        gap: 10px;
        margin-right: -5px;
        &:hover {
          background-color: var(--color-primary-athensGray2);
        }
      }
    }
    .blogList {
      @include flex(flex-start, flex-start, column);
      gap: 6px;
      width: 80%;
    }
  }

  @media (max-width: 1200px) {
    .navigationButton {
      .navItem {
        @include flex(space-between, center, row);
        padding: 0 24px;
        height: 24px;
        width: 100%;
        font-size: 18px;
        font-weight: 700;
        line-height: 18px;

        &:hover,
        &.active {
          &::after {
            border: none;
          }
        }
      }
    }
  }
}
