@import '/src/global-styles/style.scss';

.learnMenu {
  height: 100%;
  .navigationButton {
    height: 100%;

    .navItem {
      display: flex;
      position: relative;
      gap: 5px;
      height: 100%;

      &::after {
        transition: all 0.3s;
        position: absolute;
        content: ' ';
        width: 113%;
        border: 1px solid var(--color-accent-purple);
        bottom: 0;
        right: -3px;
        opacity: 0;
      }
      &:hover,
      &.active {
        &::after {
          opacity: 1;
        }
      }
      .icon {
        transition: 0.3s;
      }
      .activeIcon {
        transform: rotate(180deg);
      }
    }
  }

  .menuContainer {
    position: absolute;
    background-color: var(--color-primary-white);
    top: 80px;
    left: 0;
    width: 100%;
  }
  .menuWrapper {
    @include flex(flex-start, flex-start, row);
    width: 77.7%;
    margin: auto;
    height: 405px;
  }

  @media (max-width: 1200px) {
    height: auto;
    width: 100%;
    .navigationButton {
      .navItem {
        @include flex(space-between, center, row);
        height: 24px;
        width: 100%;
        padding: 0 24px;
        font-size: 18px;
        font-weight: 700;
        line-height: 18px;
        &:hover,
        &.active {
          &::after {
            border: none;
          }
        }
      }
    }
    .menuContainer {
      position: static;
      height: 100%;
      @include flex(center, center, column);

      .menuWrapper {
        flex-direction: column;
        width: 100%;
      }
    }
  }
}
