@import '/src/global-styles/style.scss';

.button {
  @include flex(center, center, row);
  border: none;
  padding: 11px 14px;
  border-radius: 8px;
  gap: 8px;
  cursor: pointer;
  transition: 0.1s ease;
  color: var(--color-accent-darkGray);

  &_primary {
    background-color: var(--color-accent-purple);
    color: var(--color-primary-white);
    box-shadow: 0px 6px 16px 0px rgba(#796be999, 0.6);
    font-size: 14px;
    font-weight: 800;
    line-height: 14px;
    letter-spacing: -0.02em;

    &:hover {
      background-color: var(--color-button-primary-hover);
    }
    &:active {
      background-color: var(--color-button-primary-active);
    }
  }

  &_secondary {
    background-color: var(--color-primary-athensGray2);
    color: var(--color-accent-darkGray);
    box-shadow: 0px 6px 16px 0px rgba(#e9ebf099, 0.6);
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: -0.02em;

    &:hover {
      background-color: var(--color-button-secondary-hover);
    }
    &:active {
      background-color: var(--color-button-secondary-active);
    }
  }

  &_clear {
    background: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: -0.02em;
    padding: 0;
  }
}
