@import '/src/global-styles/style.scss';
.button {
  @include flex(center, center, row);
  border: none;
  padding: 11px 14px;
  border-radius: 8px;
  gap: 8px;
  font-weight: 800;
  font-size: 14px;
  letter-spacing: -2%;
  line-height: 14px;
  cursor: pointer;
}

.primary {
  background-color: var(--color-accent-purple);
  color: var(--color-primary-white);
}
