.useCaseContainer {
  border-right: 1px solid var(--color-primary-athensGray1);
  height: 100%;
  padding: 0 20px 0 25px;

  .useCaseHeader {
    margin: 32px 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.06em;
  }
  .useCaseList {
    display: grid;
    grid-template-columns: 1fr;
    margin: -14px 0 0 -14px;
    gap: 4px 0;
  }

  @media (max-width: 1200px) {
    width: calc(100% - 48px);
    padding: 0 24px;
    border: none;
    border-top: 1px solid var(--color-primary-athensGray1);
    margin-bottom: 15px;
    .useCaseHeader {
      margin: 40px 0 18px 0;
    }
    .useCaseCard {
      &:last-of-type {
        border: none;
      }
    }
    .useCaseList {
      margin: 0;
      gap: 0;
    }
  }
}
