@import '/src/global-styles/style.scss';

.solutionsMenu {
  height: 100%;

  .navigationButton {
    height: 100%;
    .navItem {
      display: flex;
      position: relative;
      gap: 5px;
      height: 100%;
      &:hover,
      &.active {
        &::after {
          position: absolute;
          content: ' ';
          width: 100%;
          border: 1px solid var(--color-accent-purple);
          bottom: 0;
        }
      }
      .activeIcon {
        transform: rotate(180deg);
      }
    }
  }

  .menuContainer {
    background-color: var(--color-primary-white);
    position: absolute;
    top: 80px;
    left: 0px;
    height: 342px;
    width: 100%;
  }
  .menuWrapper {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    width: 77.7%;
    margin: auto;
  }

 

  @media (max-width: 1200px) {
    height: auto;
    width: 100%;
    .navigationButton {
      height: auto;
      .navItem {
        @include flex(space-between, center, row);
        height: 24px;
        width: 100%;
        font-size: 18px;
        font-weight: 700;
        line-height: 18px;
        &:hover,
        &.active {
          &::after {
            border: none;
          }
        }
      }
    }
    .menuContainer {
      position: static;
      height: 100%;
      @include flex(center, center, column);

      .menuWrapper {
        grid-template-columns: 1fr;
        width: 100%;
      }
    }
  }
}
