@import '/src/global-styles/style.scss';

.learnContainer {
  @include flex(flex-start, flex-start, column);
  border-right: 1px solid var(--color-primary-athensGray1);
  width: 56%;
  padding-right: 23px;

  .header {
    margin: 32px 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.06em;
  }

  .freeContainer {
    width: 100%;
    .freeList {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      margin: -14px 0 0 -14px;
      gap: 4px 15px;
    }
  }

  .premiumContainer {
    width: 100%;
    .premiumHeader {
      margin-top: 18px;
    }
    .premiumList {
      display: grid;
      grid-template-columns: auto auto;
      margin: -14px 0 0 -14px;
    }
  }
  @media (max-width: 1200px) {
    width: 100%;
    border: none;
    margin-bottom: 15px;
    padding: 0;

    .header {
      margin: 32px 0;
      font-size: 14px;
      font-weight: 700;
      line-height: 14px;
      letter-spacing: 0.06em;
    }

    .freeContainer {
      width: calc(100% - 48px);
      padding: 0;
      border: none;
      margin: 18px 0 15px 0;
      margin-top: 18px;
      padding: 0 24px;
      .freeHeader {
        display: none;
      }
      .freeList {
        grid-template-columns: 1fr;
        margin: 0;
        gap: 0;
      }
    }
    .freeLearnCard,
    .premiumLearnCard {
      &:last-of-type {
        border: none;
      }
    }

    .premiumContainer {
      width: calc(100% - 48px);
      border-top: 1px solid var(--color-primary-athensGray1);
      padding: 0 24px;

      .premiumList {
        grid-template-columns: 1fr;
        gap: 0;
        margin: 0;
      }
      .premiumHeader {
        margin: 34px 0 15px 0;
      }
    }
  }
}
